@import url("https://discordapp.com/channels/@me/1065891951477522442/1065891957076938862%27");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  margin-bottom: auto;
  flex-direction: row;
}